<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaofei.shop.dao.ProductDao">

    <resultMap id="productMap" type="Product">
        <id column="id" property="id"/>
        <id column="name" property="name"/>
        <id column="price" property="price"/>
        <id column="info" property="info"/>
        <id column="image" property="image"/>
        <association property="productType" javaType="ProductType" column="product_type_id">
            <id column="ptId" property="id"/>
            <result column="ptName" property="name"/>
            <result column="ptStatus" property="status"/>
        </association>
    </resultMap>

    <resultMap id="productMap2" type="Product">
        <id column="id" property="id"/>
        <id column="name" property="name"/>
        <id column="price" property="price"/>
        <id column="info" property="info"/>
        <id column="image" property="image"/>
        <association column="product_type_id" property="productType" javaType="ProductType">
            <id column="product_type_id" property="id"/>
        </association>
    </resultMap>

    <sql id="pColumn">
        p.id,
        p.name,
        p.price,
        p.info,
        p.image,
        pt.id "ptId",
        pt.name "ptName",
        pt.status "ptStatus"
    </sql>

    <sql id="productColumn">
        id,
        name,
        price,
        info,
        image,
        product_type_id
    </sql>


    <select id="getAllProducts" resultMap="productMap">
        select <include refid="pColumn"/> from products p left join product_types pt on p.product_type_id=pt.id
    </select>

    <select id="getProductById" resultMap="productMap2">
        select id,name,price,info,image,product_type_id
        from products
        where id=#{id}
    </select>

    <select id="getProductByName" resultMap="productMap2">
        select <include refid="productColumn"/>
        from products
        where name=#{name}
    </select>

    <select id="getProductByParam" parameterType="com.xiaofei.shop.vo.ProductVo" resultMap="productMap2">
        select <include refid="productColumn"/>
        from products
        where 1=1
        <if test="name!=null and name!=''">
            and name like concat(concat('%',#{name}),'%')
        </if>
        <if test="productTypeId!=-1 and productTypeId!=0">
            and product_type_id=#{productTypeId}
        </if>
        <if test="minPrice!=null">
            and price&gt;=#{minPrice}
        </if>
        <if test="maxPrice!=null">
            and price&lt;=#{maxPrice}
        </if>
        <if test="minPrice!=null and maxPrice!=null">
            and price between #{minPrice} and #{maxPrice}
        </if>

    </select>

    <insert id="saveProduct" parameterType="Product" useGeneratedKeys="true" keyProperty="id">
        insert into products
            (name,price,info,image,product_type_id)
        values
            (#{name},#{price},#{info},#{image},#{productType.id})
    </insert>

    <update id="updateProduct" parameterType="Product">
        update products
        set name=#{name},
            price=#{price},
            info=#{info},
            image=#{image},
            product_type_id=#{productType.id}
        where id=#{id}
    </update>

    <delete id="deleteProductById">
        delete from products
        where id=#{id}
    </delete>




</mapper>